In [1]:
import sqlite3
import pandas as pd
import numpy as np

In [2]:
connection = sqlite3.connect("test.db")
cursor = connection.cursor()

In [3]:
def read_query(query, cursor):
    cursor.execute(query)
    result = cursor.fetchall()
    attr_arr = cursor.description
    attr = []
    for val in attr_arr:
        attr.append(val[0])
    json_res = []
    for user in result:
        obj = {}
        for i in range(len(attr)):
            obj[attr[i]] = user[i]
        json_res.append(obj)
    
    return json_res

In [4]:
query = '''select students.regi, students.name, courses.code, courses.name as course_title, marks.marks
from students inner join marks on students.regi=marks.regi
inner join courses on marks.course_code=courses.code;'''  # same query as sql_e
result = read_query(query, cursor)
result

[{'regi': 2121000001,
  'name': 'Adam',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 90.0},
 {'regi': 2121000001,
  'name': 'Adam',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 97.0},
 {'regi': 2121000001,
  'name': 'Adam',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 93.5},
 {'regi': 2121000001,
  'name': 'Adam',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 96.5},
 {'regi': 2121000001,
  'name': 'Adam',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 88.5},
 {'regi': 2121000001,
  'name': 'Adam',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 100.0},
 {'regi': 2121000002,
  'name': 'Alex',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 62.0},
 {'regi': 2121000002,
  'name': 'Alex',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 37.0},
 {'regi': 2121000002,
  'name': 'Alex',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 49.5},
 {'regi': 2121000002,
  'name': 'Alex',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 44.5},
 {'regi': 2121000002,
  'name': 'Alex',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 53.5},
 {'regi': 2121000002,
  'name': 'Alex',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 46.5},
 {'regi': 2121000003,
  'name': 'Aaron',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 91.0},
 {'regi': 2121000003,
  'name': 'Aaron',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 75.0},
 {'regi': 2121000003,
  'name': 'Aaron',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 83.0},
 {'regi': 2121000003,
  'name': 'Aaron',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 83.0},
 {'regi': 2121000003,
  'name': 'Aaron',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 76.0},
 {'regi': 2121000003,
  'name': 'Aaron',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 91.0},
 {'regi': 2121000004,
  'name': 'Ben',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 78.0},
 {'regi': 2121000004,
  'name': 'Ben',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 80.0},
 {'regi': 2121000004,
  'name': 'Ben',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 79.0},
 {'regi': 2121000004,
  'name': 'Ben',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 81.0},
 {'regi': 2121000004,
  'name': 'Ben',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 74.0},
 {'regi': 2121000004,
  'name': 'Ben',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 77.0},
 {'regi': 2121000005,
  'name': 'Carl',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 68.0},
 {'regi': 2121000005,
  'name': 'Carl',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 70.0},
 {'regi': 2121000005,
  'name': 'Carl',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 69.0},
 {'regi': 2121000005,
  'name': 'Carl',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 69.0},
 {'regi': 2121000005,
  'name': 'Carl',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 76.0},
 {'regi': 2121000005,
  'name': 'Carl',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 67.0},
 {'regi': 2121000006,
  'name': 'Dan',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 54.0},
 {'regi': 2121000006,
  'name': 'Dan',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 29.0},
 {'regi': 2121000006,
  'name': 'Dan',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 41.5},
 {'regi': 2121000006,
  'name': 'Dan',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 45.5},
 {'regi': 2121000006,
  'name': 'Dan',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 44.5},
 {'regi': 2121000006,
  'name': 'Dan',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 35.5},
 {'regi': 2121000007,
  'name': 'David',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 62.0},
 {'regi': 2121000007,
  'name': 'David',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 53.0},
 {'regi': 2121000007,
  'name': 'David',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 57.5},
 {'regi': 2121000007,
  'name': 'David',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 60.5},
 {'regi': 2121000007,
  'name': 'David',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 64.5},
 {'regi': 2121000007,
  'name': 'David',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 62.5},
 {'regi': 2121000008,
  'name': 'Edward',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 60.0},
 {'regi': 2121000008,
  'name': 'Edward',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 41.0},
 {'regi': 2121000008,
  'name': 'Edward',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 50.5},
 {'regi': 2121000008,
  'name': 'Edward',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 55.5},
 {'regi': 2121000008,
  'name': 'Edward',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 43.5},
 {'regi': 2121000008,
  'name': 'Edward',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 41.5},
 {'regi': 2121000009,
  'name': 'Fred',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 53.0},
 {'regi': 2121000009,
  'name': 'Fred',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 47.0},
 {'regi': 2121000009,
  'name': 'Fred',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 50.0},
 {'regi': 2121000009,
  'name': 'Fred',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 46.0},
 {'regi': 2121000009,
  'name': 'Fred',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 52.0},
 {'regi': 2121000009,
  'name': 'Fred',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 52.0},
 {'regi': 2121000010,
  'name': 'Frank',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 33.0},
 {'regi': 2121000010,
  'name': 'Frank',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 32.0},
 {'regi': 2121000010,
  'name': 'Frank',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 32.5},
 {'regi': 2121000010,
  'name': 'Frank',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 33.5},
 {'regi': 2121000010,
  'name': 'Frank',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 23.5},
 {'regi': 2121000010,
  'name': 'Frank',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 29.5},
 {'regi': 2121000011,
  'name': 'George',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 75.0},
 {'regi': 2121000011,
  'name': 'George',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 55.0},
 {'regi': 2121000011,
  'name': 'George',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 65.0},
 {'regi': 2121000011,
  'name': 'George',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 57.0},
 {'regi': 2121000011,
  'name': 'George',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 66.0},
 {'regi': 2121000011,
  'name': 'George',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 59.0},
 {'regi': 2121000012,
  'name': 'Hal',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 78.0},
 {'regi': 2121000012,
  'name': 'Hal',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 76.0},
 {'regi': 2121000012,
  'name': 'Hal',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 77.0},
 {'regi': 2121000012,
  'name': 'Hal',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 77.0},
 {'regi': 2121000012,
  'name': 'Hal',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 73.0},
 {'regi': 2121000012,
  'name': 'Hal',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 67.0},
 {'regi': 2121000013,
  'name': 'Hank',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 40.0},
 {'regi': 2121000013,
  'name': 'Hank',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 40.0},
 {'regi': 2121000013,
  'name': 'Hank',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 40.0},
 {'regi': 2121000013,
  'name': 'Hank',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 43.0},
 {'regi': 2121000013,
  'name': 'Hank',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 42.0},
 {'regi': 2121000013,
  'name': 'Hank',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 35.0},
 {'regi': 2121000014,
  'name': 'Ike',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 65.0},
 {'regi': 2121000014,
  'name': 'Ike',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 57.0},
 {'regi': 2121000014,
  'name': 'Ike',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 61.0},
 {'regi': 2121000014,
  'name': 'Ike',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 59.0},
 {'regi': 2121000014,
  'name': 'Ike',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 62.0},
 {'regi': 2121000014,
  'name': 'Ike',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 55.0},
 {'regi': 2121000015,
  'name': 'John',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 65.0},
 {'regi': 2121000015,
  'name': 'John',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 55.0},
 {'regi': 2121000015,
  'name': 'John',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 60.0},
 {'regi': 2121000015,
  'name': 'John',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 65.0},
 {'regi': 2121000015,
  'name': 'John',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 56.0},
 {'regi': 2121000015,
  'name': 'John',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 52.0},
 {'regi': 2121000016,
  'name': 'Jack',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 56.0},
 {'regi': 2121000016,
  'name': 'Jack',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 44.0},
 {'regi': 2121000016,
  'name': 'Jack',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 50.0},
 {'regi': 2121000016,
  'name': 'Jack',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 54.0},
 {'regi': 2121000016,
  'name': 'Jack',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 53.0},
 {'regi': 2121000016,
  'name': 'Jack',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 46.0},
 {'regi': 2121000017,
  'name': 'Joe',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 82.0},
 {'regi': 2121000017,
  'name': 'Joe',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 62.0},
 {'regi': 2121000017,
  'name': 'Joe',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 72.0},
 {'regi': 2121000017,
  'name': 'Joe',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 68.0},
 {'regi': 2121000017,
  'name': 'Joe',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 62.0},
 {'regi': 2121000017,
  'name': 'Joe',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 82.0},
 {'regi': 2121000018,
  'name': 'Larry',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 36.0},
 {'regi': 2121000018,
  'name': 'Larry',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 45.0},
 {'regi': 2121000018,
  'name': 'Larry',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 40.5},
 {'regi': 2121000018,
  'name': 'Larry',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 44.5},
 {'regi': 2121000018,
  'name': 'Larry',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 49.5},
 {'regi': 2121000018,
  'name': 'Larry',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 33.5},
 {'regi': 2121000019,
  'name': 'Monte',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 67.0},
 {'regi': 2121000019,
  'name': 'Monte',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 55.0},
 {'regi': 2121000019,
  'name': 'Monte',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 61.0},
 {'regi': 2121000019,
  'name': 'Monte',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 67.0},
 {'regi': 2121000019,
  'name': 'Monte',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 52.0},
 {'regi': 2121000019,
  'name': 'Monte',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 56.0},
 {'regi': 2121000020,
  'name': 'Matthew',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 58.0},
 {'regi': 2121000020,
  'name': 'Matthew',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 52.0},
 {'regi': 2121000020,
  'name': 'Matthew',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 55.0},
 {'regi': 2121000020,
  'name': 'Matthew',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 65.0},
 {'regi': 2121000020,
  'name': 'Matthew',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 49.0},
 {'regi': 2121000020,
  'name': 'Matthew',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 61.0},
 {'regi': 2121000021,
  'name': 'Mark',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 57.0},
 {'regi': 2121000021,
  'name': 'Mark',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 46.0},
 {'regi': 2121000021,
  'name': 'Mark',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 51.5},
 {'regi': 2121000021,
  'name': 'Mark',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 49.5},
 {'regi': 2121000021,
  'name': 'Mark',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 42.5},
 {'regi': 2121000021,
  'name': 'Mark',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 56.5},
 {'regi': 2121000022,
  'name': 'Nathan',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 66.0},
 {'regi': 2121000022,
  'name': 'Nathan',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 64.0},
 {'regi': 2121000022,
  'name': 'Nathan',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 65.0},
 {'regi': 2121000022,
  'name': 'Nathan',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 73.0},
 {'regi': 2121000022,
  'name': 'Nathan',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 70.0},
 {'regi': 2121000022,
  'name': 'Nathan',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 65.0},
 {'regi': 2121000023,
  'name': 'Otto',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 48.0},
 {'regi': 2121000023,
  'name': 'Otto',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 27.0},
 {'regi': 2121000023,
  'name': 'Otto',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 37.5},
 {'regi': 2121000023,
  'name': 'Otto',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 47.5},
 {'regi': 2121000023,
  'name': 'Otto',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 31.5},
 {'regi': 2121000023,
  'name': 'Otto',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 28.5},
 {'regi': 2121000024,
  'name': 'Paul',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 97.0},
 {'regi': 2121000024,
  'name': 'Paul',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 87.0},
 {'regi': 2121000024,
  'name': 'Paul',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 92.0},
 {'regi': 2121000024,
  'name': 'Paul',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 90.0},
 {'regi': 2121000024,
  'name': 'Paul',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 84.0},
 {'regi': 2121000024,
  'name': 'Paul',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 85.0},
 {'regi': 2121000025,
  'name': 'Peter',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 57.0},
 {'regi': 2121000025,
  'name': 'Peter',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 37.0},
 {'regi': 2121000025,
  'name': 'Peter',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 47.0},
 {'regi': 2121000025,
  'name': 'Peter',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 49.0},
 {'regi': 2121000025,
  'name': 'Peter',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 48.0},
 {'regi': 2121000025,
  'name': 'Peter',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 56.0},
 {'regi': 2121000026,
  'name': 'Roger',
  'code': 'CSE331',
  'course_title': 'Software Engineering and Design Patterns',
  'marks': 59.0},
 {'regi': 2121000026,
  'name': 'Roger',
  'code': 'CSE333',
  'course_title': 'Database Management Systems',
  'marks': 60.0},
 {'regi': 2121000026,
  'name': 'Roger',
  'code': 'CSE335',
  'course_title': 'Operating Systems',
  'marks': 59.5},
 {'regi': 2121000026,
  'name': 'Roger',
  'code': 'CSE365',
  'course_title': 'Communication Engineering',
  'marks': 51.5},
 {'regi': 2121000026,
  'name': 'Roger',
  'code': 'CSE325',
  'course_title': 'Digital Signal Processing',
  'marks': 53.5},
 {'regi': 2121000026,
  'name': 'Roger',
  'code': 'CSE345',
  'course_title': 'Introduction to Data Science',
  'marks': 67.5},
 {'regi': 2121000027,
  'name': 'Roger',
  'code': 'CSE331',

## Write appropriate queries and manipulate the data using python to create a **tabulation** dictionary like below

In [5]:
# tabulation = {
#     2121000001: {
#       'Registration': 2121000001,
#       'name': 'Adam',
#       'CSE331': 90.0,
#       'CSE333': 97.0,
#       'CSE335': 93.5,
#       'CSE365': 96.5,
#       'CSE325': 88.5,
#       'CSE345': 100.0
#     },
#     2121000002: {
#       'Registration': 2121000002,
#       'name': 'Alex',
#       'CSE331': 62.0,
#       'CSE333': 37.0,
#       'CSE335': 49.5,
#       'CSE365': 44.5,
#       'CSE325': 53.5,
#       'CSE345': 46.5
#     },
#     2121000003: {
#       'Registration': 2121000003,
#       'name': 'Aaron',
#       'CSE331': 91.0,
#       'CSE333': 75.0,
#       'CSE335': 83.0,
#       'CSE365': 83.0,
#       'CSE325': 76.0,
#       'CSE345': 91.0
#     },
# }

tabulation = {}
for marks in result:
    if marks['regi'] not in tabulation:
        tabulation[marks['regi']] = {
            'Registration': marks['regi'],
            'name': marks['name'],
        }
    tabulation[marks['regi']][marks['code']] = marks['marks']
tabulation

{2121000001: {'Registration': 2121000001,
  'name': 'Adam',
  'CSE331': 90.0,
  'CSE333': 97.0,
  'CSE335': 93.5,
  'CSE365': 96.5,
  'CSE325': 88.5,
  'CSE345': 100.0},
 2121000002: {'Registration': 2121000002,
  'name': 'Alex',
  'CSE331': 62.0,
  'CSE333': 37.0,
  'CSE335': 49.5,
  'CSE365': 44.5,
  'CSE325': 53.5,
  'CSE345': 46.5},
 2121000003: {'Registration': 2121000003,
  'name': 'Aaron',
  'CSE331': 91.0,
  'CSE333': 75.0,
  'CSE335': 83.0,
  'CSE365': 83.0,
  'CSE325': 76.0,
  'CSE345': 91.0},
 2121000004: {'Registration': 2121000004,
  'name': 'Ben',
  'CSE331': 78.0,
  'CSE333': 80.0,
  'CSE335': 79.0,
  'CSE365': 81.0,
  'CSE325': 74.0,
  'CSE345': 77.0},
 2121000005: {'Registration': 2121000005,
  'name': 'Carl',
  'CSE331': 68.0,
  'CSE333': 70.0,
  'CSE335': 69.0,
  'CSE365': 69.0,
  'CSE325': 76.0,
  'CSE345': 67.0},
 2121000006: {'Registration': 2121000006,
  'name': 'Dan',
  'CSE331': 54.0,
  'CSE333': 29.0,
  'CSE335': 41.5,
  'CSE365': 45.5,
  'CSE325': 44.5,
  'CSE345': 35.5},
 2121000007: {'Registration': 2121000007,
  'name': 'David',
  'CSE331': 62.0,
  'CSE333': 53.0,
  'CSE335': 57.5,
  'CSE365': 60.5,
  'CSE325': 64.5,
  'CSE345': 62.5},
 2121000008: {'Registration': 2121000008,
  'name': 'Edward',
  'CSE331': 60.0,
  'CSE333': 41.0,
  'CSE335': 50.5,
  'CSE365': 55.5,
  'CSE325': 43.5,
  'CSE345': 41.5},
 2121000009: {'Registration': 2121000009,
  'name': 'Fred',
  'CSE331': 53.0,
  'CSE333': 47.0,
  'CSE335': 50.0,
  'CSE365': 46.0,
  'CSE325': 52.0,
  'CSE345': 52.0},
 2121000010: {'Registration': 2121000010,
  'name': 'Frank',
  'CSE331': 33.0,
  'CSE333': 32.0,
  'CSE335': 32.5,
  'CSE365': 33.5,
  'CSE325': 23.5,
  'CSE345': 29.5},
 2121000011: {'Registration': 2121000011,
  'name': 'George',
  'CSE331': 75.0,
  'CSE333': 55.0,
  'CSE335': 65.0,
  'CSE365': 57.0,
  'CSE325': 66.0,
  'CSE345': 59.0},
 2121000012: {'Registration': 2121000012,
  'name': 'Hal',
  'CSE331': 78.0,
  'CSE333': 76.0,
  'CSE335': 77.0,
  'CSE365': 77.0,
  'CSE325': 73.0,
  'CSE345': 67.0},
 2121000013: {'Registration': 2121000013,
  'name': 'Hank',
  'CSE331': 40.0,
  'CSE333': 40.0,
  'CSE335': 40.0,
  'CSE365': 43.0,
  'CSE325': 42.0,
  'CSE345': 35.0},
 2121000014: {'Registration': 2121000014,
  'name': 'Ike',
  'CSE331': 65.0,
  'CSE333': 57.0,
  'CSE335': 61.0,
  'CSE365': 59.0,
  'CSE325': 62.0,
  'CSE345': 55.0},
 2121000015: {'Registration': 2121000015,
  'name': 'John',
  'CSE331': 65.0,
  'CSE333': 55.0,
  'CSE335': 60.0,
  'CSE365': 65.0,
  'CSE325': 56.0,
  'CSE345': 52.0},
 2121000016: {'Registration': 2121000016,
  'name': 'Jack',
  'CSE331': 56.0,
  'CSE333': 44.0,
  'CSE335': 50.0,
  'CSE365': 54.0,
  'CSE325': 53.0,
  'CSE345': 46.0},
 2121000017: {'Registration': 2121000017,
  'name': 'Joe',
  'CSE331': 82.0,
  'CSE333': 62.0,
  'CSE335': 72.0,
  'CSE365': 68.0,
  'CSE325': 62.0,
  'CSE345': 82.0},
 2121000018: {'Registration': 2121000018,
  'name': 'Larry',
  'CSE331': 36.0,
  'CSE333': 45.0,
  'CSE335': 40.5,
  'CSE365': 44.5,
  'CSE325': 49.5,
  'CSE345': 33.5},
 2121000019: {'Registration': 2121000019,
  'name': 'Monte',
  'CSE331': 67.0,
  'CSE333': 55.0,
  'CSE335': 61.0,
  'CSE365': 67.0,
  'CSE325': 52.0,
  'CSE345': 56.0},
 2121000020: {'Registration': 2121000020,
  'name': 'Matthew',
  'CSE331': 58.0,
  'CSE333': 52.0,
  'CSE335': 55.0,
  'CSE365': 65.0,
  'CSE325': 49.0,
  'CSE345': 61.0},
 2121000021: {'Registration': 2121000021,
  'name': 'Mark',
  'CSE331': 57.0,
  'CSE333': 46.0,
  'CSE335': 51.5,
  'CSE365': 49.5,
  'CSE325': 42.5,
  'CSE345': 56.5},
 2121000022: {'Registration': 2121000022,
  'name': 'Nathan',
  'CSE331': 66.0,
  'CSE333': 64.0,
  'CSE335': 65.0,
  'CSE365': 73.0,
  'CSE325': 70.0,
  'CSE345': 65.0},
 2121000023: {'Registration': 2121000023,
  'name': 'Otto',
  'CSE331': 48.0,
  'CSE333': 27.0,
  'CSE335': 37.5,
  'CSE365': 47.5,
  'CSE325': 31.5,
  'CSE345': 28.5},
 2121000024: {'Registration': 2121000024,
  'name': 'Paul',
  'CSE331': 97.0,
  'CSE333': 87.0,
  'CSE335': 92.0,
  'CSE365': 90.0,
  'CSE325': 84.0,
  'CSE345': 85.0},
 2121000025: {'Registration': 2121000025,
  'name': 'Peter',
  'CSE331': 57.0,
  'CSE333': 37.0,
  'CSE335': 47.0,
  'CSE365': 49.0,
  'CSE325': 48.0,
  'CSE345': 56.0},
 2121000026: {'Registration': 2121000026,
  'name': 'Roger',
  'CSE331': 59.0,
  'CSE333': 60.0,
  'CSE335': 59.5,
  'CSE365': 51.5,
  'CSE325': 53.5,
  'CSE345': 67.5},
 2121000027: {'Registration': 2121000027,
  'name': 'Roger',
  'CSE331': 64.0,
  'CSE333': 54.0,
  'CSE335': 59.0,
  'CSE365': 49.0,
  'CSE325': 50.0,
  'CSE345': 66.0},
 2121000028: {'Registration': 2121000028,
  'name': 'Steve',
  'CSE331': 84.0,
  'CSE333': 70.0,
  'CSE335': 77.0,
  'CSE365': 87.0,
  'CSE325': 73.0,
  'CSE345': 85.0},
 2121000029: {'Registration': 2121000029,
  'name': 'Thomas',
  'CSE331': 55.0,
  'CSE333': 47.0,
  'CSE335': 51.0,
  'CSE365': 58.0,
  'CSE325': 47.0,
  'CSE345': 42.0},
 2121000030: {'Registration': 2121000030,
  'name': 'Tim',
  'CSE331': 61.0,
  'CSE333': 31.0,
  'CSE335': 46.0,
  'CSE365': 47.0,
  'CSE325': 47.0,
  'CSE345': 43.0},
 2121000031: {'Registration': 2121000031,
  'name': 'Ty',
  'CSE331': 61.0,
  'CSE333': 56.0,
  'CSE335': 58.5,
  'CSE365': 59.5,
  'CSE325': 50.5,
  'CSE345': 52.5},
 2121000032: {'Registration': 2121000032,
  'name': 'Victor',
  'CSE331': 91.0,
  'CSE333': 75.0,
  'CSE335': 83.0,
  'CSE365': 82.0,
  'CSE325': 82.0,
  'CSE345': 82.0},
 2121000033: {'Registration': 2121000033,
  'name': 'Walter',
  'CSE331': 77.0,
  'CSE333': 62.0,
  'CSE335': 69.5,
  'CSE365': 78.5,
  'CSE325': 61.5,
  'CSE345': 71.5},
 2121000034: {'Registration': 2121000034,
  'name': 'Anderson',
  'CSE331': 64.0,
  'CSE333': 69.0,
  'CSE335': 66.5,
  'CSE365': 59.5,
  'CSE325': 58.5,
  'CSE345': 56.5},
 2121000035: {'Registration': 2121000035,
  'name': 'Ashwoon',
  'CSE331': 66.0,
  'CSE333': 68.0,
  'CSE335': 67.0,
  'CSE365': 66.0,
  'CSE325': 57.0,
  'CSE345': 75.0},
 2121000036: {'Registration': 2121000036,
  'name': 'Aikin',
  'CSE331': 71.0,
  'CSE333': 60.0,
  'CSE335': 65.5,
  'CSE365': 73.5,
  'CSE325': 64.5,
  'CSE345': 65.5},
 2121000037: {'Registration': 2121000037,
  'name': 'Bateman',
  'CSE331': 64.0,
  'CSE333': 63.0,
  'CSE335': 63.5,
  'CSE365': 57.5,
  'CSE325': 70.5,
  'CSE345': 64.5},
 2121000038: {'Registration': 2121000038,
  'name': 'Bongard',
  'CSE331': 54.0,
  'CSE333': 53.0,
  'CSE335': 53.5,
  'CSE365': 50.5,
  'CSE325': 62.5,
  'CSE345': 58.5},
 2121000039: {'Registration': 2121000039,
  'name': 'Bowers',
  'CSE331': 46.0,
  'CSE333': 38.0,
  'CSE335': 42.0,
  'CSE365': 34.0,
  'CSE325': 51.0,
  'CSE345': 45.0},
 2121000040: {'Registration': 2121000040,
  'name': 'Boyd',
  'CSE331': 38.0,
  'CSE333': 37.0,
  'CSE335': 37.5,
  'CSE365': 39.5,
  'CSE325': 32.5,
  'CSE345': 41.5},
 2121000041: {'Registration': 2121000041,
  'name': 'Cannon',
  'CSE331': 58.0,
  'CSE333': 44.0,
  'CSE335': 51.0,
  'CSE365': 61.0,
  'CSE325': 60.0,
  'CSE345': 53.0},
 2121000042: {'Registration': 2121000042,
  'name': 'Cast',
  'CSE331': 81.0,
  'CSE333': 61.0,
  'CSE335': 71.0,
  'CSE365': 80.0,
  'CSE325': 67.0,
  'CSE345': 71.0},
 2121000043: {'Registration': 2121000043,
  'name': 'Deitz',
  'CSE331': 43.0,
  'CSE333': 42.0,
  'CSE335': 42.5,
  'CSE365': 44.5,
  'CSE325': 40.5,
  'CSE345': 43.5},
 2121000044: {'Registration': 2121000044,
  'name': 'Dewalt',
  'CSE331': 48.0,
  'CSE333': 36.0,
  'CSE335': 42.0,
  'CSE365': 36.0,
  'CSE325': 39.0,
  'CSE345': 41.0},
 2121000045: {'Registration': 2121000045,
  'name': 'Ebner',
  'CSE331': 55.0,
  'CSE333': 39.0,
  'CSE335': 47.0,
  'CSE365': 47.0,
  'CSE325': 37.0,
  'CSE345': 47.0},
 2121000046: {'Registration': 2121000046,
  'name': 'Frick',
  'CSE331': 69.0,
  'CSE333': 57.0,
  'CSE335': 63.0,
  'CSE365': 53.0,
  'CSE325': 68.0,
  'CSE345': 56.0},
 2121000047: {'Registration': 2121000047,
  'name': 'Hancock',
  'CSE331': 59.0,
  'CSE333': 56.0,
  'CSE335': 57.5,
  'CSE365': 50.5,
  'CSE325': 67.5,
  'CSE345': 59.5},
 2121000048: {'Registration': 2121000048,
  'name': 'Haworth',
  'CSE331': 81.0,
  'CSE333': 72.0,
  'CSE335': 76.5,
  'CSE365': 85.5,
  'CSE325': 79.5,
  'CSE345': 86.5},
 2121000049: {'Registration': 2121000049,
  'name': 'Hesch',
  'CSE331': 64.0,
  'CSE333': 59.0,
  'CSE335': 61.5,
  'CSE365': 69.5,
  'CSE325': 59.5,
  'CSE345': 62.5},
 2121000050: {'Registration': 2121000050,
  'name': 'Hoffman',
  'CSE331': 84.0,
  'CSE333': 74.0,
  'CSE335': 79.0,
  'CSE365': 86.0,
  'CSE325': 81.0,
  'CSE345': 73.0},
 2121000051: {'Registration': 2121000051,
  'name': 'Kassing',
  'CSE331': 40.0,
  'CSE333': 39.0,
  'CSE335': 39.5,
  'CSE365': 37.5,
  'CSE325': 31.5,
  'CSE345': 30.5},
 2121000052: {'Registration': 2121000052,
  'name': 'Knutson',
  'CSE331': 70.0,
  'CSE333': 66.0,
  'CSE335': 68.0,
  'CSE365': 68.0,
  'CSE325': 78.0,
  'CSE345': 69.0},
 2121000053: {'Registration': 2121000053,
  'name': 'Lawless',
  'CSE331': 61.0,
  'CSE333': 45.0,
  'CSE335': 53.0,
  'CSE365': 55.0,
  'CSE325': 46.0,
  'CSE345': 61.0},
 2121000054: {'Registration': 2121000054,
  'name': 'Lawicki',
  'CSE331': 54.0,
  'CSE333': 51.0,
  'CSE335': 52.5,
  'CSE365': 53.5,
  'CSE325': 42.5,
  'CSE345': 46.5},
 2121000055: {'Registration': 2121000055,
  'name': 'Mccord',
  'CSE331': 52.0,
  'CSE333': 42.0,
  'CSE335': 47.0,
  'CSE365': 56.0,
  'CSE325': 42.0,
  'CSE345': 47.0},
 2121000056: {'Registration': 2121000056,
  'name': 'McCormack',
  'CSE331': 50.0,
  'CSE333': 38.0,
  'CSE335': 44.0,
  'CSE365': 49.0,
  'CSE325': 39.0,
  'CSE345': 44.0},
 2121000057: {'Registration': 2121000057,
  'name': 'Miller',
  'CSE331': 60.0,
  'CSE333': 58.0,
  'CSE335': 59.0,
  'CSE365': 62.0,
  'CSE325': 50.0,
  'CSE345': 68.0},
 2121000058: {'Registration': 2121000058,
  'name': 'Myers',
  'CSE331': 73.0,
  'CSE333': 59.0,
  'CSE335': 66.0,
  'CSE365': 70.0,
  'CSE325': 58.0,
  'CSE345': 57.0},
 2121000059: {'Registration': 2121000059,
  'name': 'Nugent',
  'CSE331': 75.0,
  'CSE333': 64.0,
  'CSE335': 69.5,
  'CSE365': 78.5,
  'CSE325': 69.5,
  'CSE345': 71.5},
 2121000060: {'Registration': 2121000060,
  'name': 'Ortiz',
  'CSE331': 69.0,
  'CSE333': 73.0,
  'CSE335': 71.0,
  'CSE365': 73.0,
  'CSE325': 71.0,
  'CSE345': 79.0},
 2121000061: {'Registration': 2121000061,
  'name': 'Orwig',
  'CSE331': 76.0,
  'CSE333': 64.0,
  'CSE335': 70.0,
  'CSE365': 73.0,
  'CSE325': 74.0,
  'CSE345': 76.0},
 2121000062: {'Registration': 2121000062,
  'name': 'Ory',
  'CSE331': 66.0,
  'CSE333': 64.0,
  'CSE335': 65.0,
  'CSE365': 56.0,
  'CSE325': 72.0,
  'CSE345': 62.0},
 2121000063: {'Registration': 2121000063,
  'name': 'Paiser',
  'CSE331': 89.0,
  'CSE333': 62.0,
  'CSE335': 75.5,
  'CSE365': 84.5,
  'CSE325': 68.5,
  'CSE345': 68.5},
 2121000064: {'Registration': 2121000064,
  'name': 'Pak',
  'CSE331': 52.0,
  'CSE333': 39.0,
  'CSE335': 45.5,
  'CSE365': 44.5,
  'CSE325': 53.5,
  'CSE345': 49.5},
 2121000065: {'Registration': 2121000065,
  'name': 'Pettigrew',
  'CSE331': 76.0,
  'CSE333': 50.0,
  'CSE335': 63.0,
  'CSE365': 62.0,
  'CSE325': 54.0,
  'CSE345': 67.0},
 2121000066: {'Registration': 2121000066,
  'name': 'Quinn',
  'CSE331': 43.0,
  'CSE333': 31.0,
  'CSE335': 37.0,
  'CSE365': 40.0,
  'CSE325': 46.0,
  'CSE345': 28.0},
 2121000067: {'Registration': 2121000067,
  'name': 'Quizoz',
  'CSE331': 59.0,
  'CSE333': 54.0,
  'CSE335': 56.5,
  'CSE365': 47.5,
  'CSE325': 54.5,
  'CSE345': 61.5},
 2121000068: {'Registration': 2121000068,
  'name': 'Ramachandran',
  'CSE331': 84.0,
  'CSE333': 81.0,
  'CSE335': 82.5,
  'CSE365': 91.5,
  'CSE325': 85.5,
  'CSE345': 80.5},
 2121000069: {'Registration': 2121000069,
  'name': 'Resnick',
  'CSE331': 58.0,
  'CSE333': 53.0,
  'CSE335': 55.5,
  'CSE365': 52.5,
  'CSE325': 62.5,
  'CSE345': 46.5},
 2121000070: {'Registration': 2121000070,
  'name': 'Sagar',
  'CSE331': 63.0,
  'CSE333': 63.0,
  'CSE335': 63.0,
  'CSE365': 70.0,
  'CSE325': 65.0,
  'CSE345': 62.0},
 2121000071: {'Registration': 2121000071,
  'name': 'Schickowski',
  'CSE331': 65.0,
  'CSE333': 54.0,
  'CSE335': 59.5,
  'CSE365': 69.5,
  'CSE325': 49.5,
  'CSE345': 58.5},
 2121000072: {'Registration': 2121000072,
  'name': 'Schiebel',
  'CSE331': 72.0,
  'CSE333': 71.0,
  'CSE335': 71.5,
  'CSE365': 61.5,
  'CSE325': 64.5,
  'CSE345': 64.5},
 2121000073: {'Registration': 2121000073,
  'name': 'Sellon',
  'CSE331': 67.0,
  'CSE333': 48.0,
  'CSE335': 57.5,
  'CSE365': 47.5,
  'CSE325': 47.5,
  'CSE345': 53.5},
 2121000074: {'Registration': 2121000074,
  'name': 'Severson',
  'CSE331': 56.0,
  'CSE333': 37.0,
  'CSE335': 46.5,
  'CSE365': 36.5,
  'CSE325': 47.5,
  'CSE345': 42.5},
 2121000075: {'Registration': 2121000075,
  'name': 'Shaffer',
  'CSE331': 82.0,
  'CSE333': 78.0,
  'CSE335': 80.0,
  'CSE365': 70.0,
  'CSE325': 78.0,
  'CSE345': 79.0},
 2121000076: {'Registration': 2121000076,
  'name': 'Solberg',
  'CSE331': 76.0,
  'CSE333': 69.0,
  'CSE335': 72.5,
  'CSE365': 62.5,
  'CSE325': 69.5,
  'CSE345': 69.5},
 2121000077: {'Registration': 2121000077,
  'name': 'Soloman',
  'CSE331': 79.0,
  'CSE333': 66.0,
  'CSE335': 72.5,
  'CSE365': 65.5,
  'CSE325': 63.5,
  'CSE345': 74.5},
 2121000078: {'Registration': 2121000078,
  'name': 'Sonderling',
  'CSE331': 81.0,
  'CSE333': 81.0,
  'CSE335': 81.0,
  'CSE365': 71.0,
  'CSE325': 89.0,
  'CSE345': 83.0},
 2121000079: {'Registration': 2121000079,
  'name': 'Soukup',
  'CSE331': 50.0,
  'CSE333': 63.0,
  'CSE335': 56.5,
  'CSE365': 54.5,
  'CSE325': 64.5,
  'CSE345': 47.5},
 2121000080: {'Registration': 2121000080,
  'name': 'Soulis',
  'CSE331': 47.0,
  'CSE333': 42.0,
  'CSE335': 44.5,
  'CSE365': 38.5,
  'CSE325': 34.5,
  'CSE345': 41.5},
 2121000081: {'Registration': 2121000081,
  'name': 'Stahl',
  'CSE331': 56.0,
  'CSE333': 51.0,
  'CSE335': 53.5,
  'CSE365': 61.5,
  'CSE325': 56.5,
  'CSE345': 47.5},
 2121000082: {'Registration': 2121000082,
  'name': 'Sweeney',
  'CSE331': 59.0,
  'CSE333': 64.0,
  'CSE335': 61.5,
  'CSE365': 64.5,
  'CSE325': 52.5,
  'CSE345': 69.5},
 2121000083: {'Registration': 2121000083,
  'name': 'Tandy',
  'CSE331': 90.0,
  'CSE333': 94.0,
  'CSE335': 92.0,
  'CSE365': 99.0,
  'CSE325': 95.0,
  'CSE345': 87.0},
 2121000084: {'Registration': 2121000084,
  'name': 'Trebil',
  'CSE331': 68.0,
  'CSE333': 45.0,
  'CSE335': 56.5,
  'CSE365': 48.5,
  'CSE325': 65.5,
  'CSE345': 50.5},
 2121000085: {'Registration': 2121000085,
  'name': 'Trusela',
  'CSE331': 47.0,
  'CSE333': 36.0,
  'CSE335': 41.5,
  'CSE365': 43.5,
  'CSE325': 47.5,
  'CSE345': 47.5},
 2121000086: {'Registration': 2121000086,
  'name': 'Trussel',
  'CSE331': 75.0,
  'CSE333': 57.0,
  'CSE335': 66.0,
  'CSE365': 71.0,
  'CSE325': 64.0,
  'CSE345': 66.0},
 2121000087: {'Registration': 2121000087,
  'name': 'Turco',
  'CSE331': 50.0,
  'CSE333': 72.0,
  'CSE335': 61.0,
  'CSE365': 61.0,
  'CSE325': 67.0,
  'CSE345': 67.0},
 2121000088: {'Registration': 2121000088,
  'name': 'Uddin',
  'CSE331': 63.0,
  'CSE333': 60.0,
  'CSE335': 61.5,
  'CSE365': 63.5,
  'CSE325': 54.5,
  'CSE345': 69.5},
 2121000089: {'Registration': 2121000089,
  'name': 'Uflan',
  'CSE331': 59.0,
  'CSE333': 46.0,
  'CSE335': 52.5,
  'CSE365': 53.5,
  'CSE325': 58.5,
  'CSE345': 59.5},
 2121000090: {'Registration': 2121000090,
  'name': 'Ulrich',
  'CSE331': 81.0,
  'CSE333': 63.0,
  'CSE335': 72.0,
  'CSE365': 69.0,
  'CSE325': 78.0,
  'CSE345': 72.0},
 2121000091: {'Registration': 2121000091,
  'name': 'Upson',
  'CSE331': 79.0,
  'CSE333': 67.0,
  'CSE335': 73.0,
  'CSE365': 65.0,
  'CSE325': 73.0,
  'CSE345': 72.0},
 2121000092: {'Registration': 2121000092,
  'name': 'Vader',
  'CSE331': 43.0,
  'CSE333': 51.0,
  'CSE335': 47.0,
  'CSE365': 54.0,
  'CSE325': 57.0,
  'CSE345': 45.0},
 2121000093: {'Registration': 2121000093,
  'name': 'Vail',
  'CSE331': 72.0,
  'CSE333': 52.0,
  'CSE335': 62.0,
  'CSE365': 53.0,
  'CSE325': 71.0,
  'CSE345': 65.0},
 2121000094: {'Registration': 2121000094,
  'name': 'Valente',
  'CSE331': 40.0,
  'CSE333': 48.0,
  'CSE335': 44.0,
  'CSE365': 43.0,
  'CSE325': 54.0,
  'CSE345': 42.0},
 2121000095: {'Registration': 2121000095,
  'name': 'Van Zandt',
  'CSE331': 53.0,
  'CSE333': 39.0,
  'CSE335': 46.0,
  'CSE365': 43.0,
  'CSE325': 44.0,
  'CSE345': 51.0},
 2121000096: {'Registration': 2121000096,
  'name': 'Vanderpoel',
  'CSE331': 42.0,
  'CSE333': 39.0,
  'CSE335': 40.5,
  'CSE365': 46.5,
  'CSE325': 39.5,
  'CSE345': 36.5},
 2121000097: {'Registration': 2121000097,
  'name': 'Ventotla',
  'CSE331': 78.0,
  'CSE333': 60.0,
  'CSE335': 69.0,
  'CSE365': 76.0,
  'CSE325': 64.0,
  'CSE345': 67.0},
 2121000098: {'Registration': 2121000098,
  'name': 'Vogal',
  'CSE331': 52.0,
  'CSE333': 51.0,
  'CSE335': 51.5,
  'CSE365': 41.5,
  'CSE325': 56.5,
  'CSE345': 50.5},
 2121000099: {'Registration': 2121000099,
  'name': 'Wagle',
  'CSE331': 50.0,
  'CSE333': 45.0,
  'CSE335': 47.5,
  'CSE365': 43.5,
  'CSE325': 38.5,
  'CSE345': 44.5},
 2121000100: {'Registration': 2121000100,
  'name': 'Wagner',
  'CSE331': 66.0,
  'CSE333': 48.0,
  'CSE335': 57.0,
  'CSE365': 60.0,
  'CSE325': 66.0,
  'CSE345': 67.0},
 2121000101: {'Registration': 2121000101,
  'name': 'Wakefield',
  'CSE331': 69.0,
  'CSE333': 66.0,
  'CSE335': 67.5,
  'CSE365': 67.5,
  'CSE325': 63.5,
  'CSE345': 66.5},
 2121000102: {'Registration': 2121000102,
  'name': 'Weinstein',
  'CSE331': 51.0,
  'CSE333': 41.0,
  'CSE335': 46.0,
  'CSE365': 47.0,
  'CSE325': 49.0,
  'CSE345': 55.0},
 2121000103: {'Registration': 2121000103,
  'name': 'Weiss',
  'CSE331': 49.0,
  'CSE333': 31.0,
  'CSE335': 40.0,
  'CSE365': 45.0,
  'CSE325': 33.0,
  'CSE345': 49.0},
 2121000104: {'Registration': 2121000104,
  'name': 'Woo',
  'CSE331': 60.0,
  'CSE333': 49.0,
  'CSE335': 54.5,
  'CSE365': 47.5,
  'CSE325': 58.5,
  'CSE345': 63.5},
 2121000105: {'Registration': 2121000105,
  'name': 'Yang',
  'CSE331': 69.0,
  'CSE333': 53.0,
  'CSE335': 61.0,
  'CSE365': 63.0,
  'CSE325': 59.0,
  'CSE345': 64.0},
 2121000106: {'Registration': 2121000106,
  'name': 'Yates',
  'CSE331': 62.0,
  'CSE333': 50.0,
  'CSE335': 56.0,
  'CSE365': 61.0,
  'CSE325': 62.0,
  'CSE345': 48.0},
 2121000107: {'Registration': 2121000107,
  'name': 'Yocum',
  'CSE331': 55.0,
  'CSE333': 34.0,
  'CSE335': 44.5,
  'CSE365': 45.5,
  'CSE325': 41.5,
  'CSE345': 44.5},
 2121000108: {'Registration': 2121000108,
  'name': 'Zeaser',
  'CSE331': 48.0,
  'CSE333': 40.0,
  'CSE335': 44.0,
  'CSE365': 37.0,
  'CSE325': 42.0,
  'CSE345': 48.0},
 2121000109: {'Registration': 2121000109,
  'name': 'Zeller',
  'CSE331': 64.0,
  'CSE333': 44.0,
  'CSE335': 54.0,
  'CSE365': 62.0,
  'CSE325': 45.0,
  'CSE345': 50.0},
 2121000110: {'Registration': 2121000110,
  'name': 'Ziegler',
  'CSE331': 56.0,
  'CSE333': 46.0,
  'CSE335': 51.0,
  'CSE365': 52.0,
  'CSE325': 60.0,
  'CSE345': 45.0},
 2121000111: {'Registration': 2121000111,
  'name': 'Bauer',
  'CSE331': 65.0,
  'CSE333': 56.0,
  'CSE335': 60.5,
  'CSE365': 68.5,
  'CSE325': 62.5,
  'CSE345': 66.5},
 2121000112: {'Registration': 2121000112,
  'name': 'Baxster',
  'CSE331': 59.0,
  'CSE333': 66.0,
  'CSE335': 62.5,
  'CSE365': 52.5,
  'CSE325': 69.5,
  'CSE345': 52.5},
 2121000113: {'Registration': 2121000113,
  'name': 'Casal',
  'CSE331': 77.0,
  'CSE333': 69.0,
  'CSE335': 73.0,
  'CSE365': 83.0,
  'CSE325': 77.0,
  'CSE345': 81.0},
 2121000114: {'Registration': 2121000114,
  'name': 'Cataldi',
  'CSE331': 64.0,
  'CSE333': 49.0,
  'CSE335': 56.5,
  'CSE365': 49.5,
  'CSE325': 62.5,
  'CSE345': 52.5},
 2121000115: {'Registration': 2121000115,
  'name': 'Caswell',
  'CSE331': 54.0,
  'CSE333': 38.0,
  'CSE335': 46.0,
  'CSE365': 47.0,
  'CSE325': 37.0,
  'CSE345': 36.0},
 2121000116: {'Registration': 2121000116,
  'name': 'Celedon',
  'CSE331': 89.0,
  'CSE333': 83.0,
  'CSE335': 86.0,
  'CSE365': 86.0,
  'CSE325': 79.0,
  'CSE345': 83.0},
 2121000117: {'Registration': 2121000117,
  'name': 'Chambers',
  'CSE331': 66.0,
  'CSE333': 68.0,
  'CSE335': 67.0,
  'CSE365': 73.0,
  'CSE325': 74.0,
  'CSE345': 57.0},

## Then you can display the result using the following cells

In [6]:
df = pd.DataFrame.from_dict(tabulation, orient='index')

In [7]:
df.style.hide_index()