In [1]:
import sqlite3
import pandas as pd
import numpy as np
import json
from operator import itemgetter

In [2]:
connection = sqlite3.connect("test.db")
cursor = connection.cursor()

In [3]:
def read_query(query, cursor):
    cursor.execute(query)
    result = cursor.fetchall()
    attr_arr = cursor.description
    attr = []
    for val in attr_arr:
        attr.append(val[0])
    json_res = []
    for user in result:
        obj = {}
        for i in range(len(attr)):
            obj[attr[i]] = user[i]
        json_res.append(obj)
    
    return json_res

In [4]:
query = "select * from courses"
result = read_query(query, cursor)
result

[{'code': 'CSE331', 'name': 'Software Engineering and Design Patterns'},
 {'code': 'CSE333', 'name': 'Database Management Systems'},
 {'code': 'CSE335', 'name': 'Operating Systems'},
 {'code': 'CSE365', 'name': 'Communication Engineering'},
 {'code': 'CSE325', 'name': 'Digital Signal Processing'},
 {'code': 'CSE345', 'name': 'Introduction to Data Science'}]

## Write appropriate queries and manipulate the data using python to create a **tabulation** dictionary like below and **pysql_1.ipynb**

In [15]:
tabulation = {
    2121000001: {
      'Registration': 2121000001,
      'name': 'Adam',
      'CSE331': 90.0,
      'CSE333': 97.0,
      'CSE335': 93.5,
      'CSE365': 96.5,
      'CSE325': 88.5,
      'CSE345': 100.0
    },
    2121000002: {
      'Registration': 2121000002,
      'name': 'Alex',
      'CSE331': 62.0,
      'CSE333': 37.0,
      'CSE335': 49.5,
      'CSE365': 44.5,
      'CSE325': 53.5,
      'CSE345': 46.5
    },
    2121000003: {
      'Registration': 2121000003,
      'name': 'Aaron',
      'CSE331': 91.0,
      'CSE333': 75.0,
      'CSE335': 83.0,
      'CSE365': 83.0,
      'CSE325': 76.0,
      'CSE345': 91.0
    },
}

## It is preferred if you do not touch the following code snippets

In [16]:
gpa_matrix = {}
credit = 4.00
for i in range(80, 39, -5):
    gpa_matrix[i] = credit
    credit -= 0.25
gpa_matrix[35] = 0
gpa_matrix


def getGPA(marks):
    scle = min(marks, 80)
    scle = max(scle, 35)
    scle -= scle%5

    return gpa_matrix[scle]

getGPA(95)

4.0

In [22]:
# Assumes all the courses have similar credits
def processStudentInfo(info):
    ret = {
        "cgpa": 0.0,
        "total": 0
    }
    for key in info:
        if key == "Registration" or key == "name":
            ret[key] = info[key]
            continue
        ret['cgpa'] += getGPA(info[key])
        ret['total'] += info[key]

    ret['cgpa'] = round(ret['cgpa']/(len(info.keys()) - 2), 2)
    return ret

processStudentInfo({
    'Registration': 2121000001,
    'name': 'Adam',
    'CSE331': 90.0,
    'CSE333': 97.0,
    'CSE335': 93.5,
    'CSE365': 96.5,
    'CSE325': 88.5,
    'CSE345': 100.0
})

{'cgpa': 4.0, 'total': 565.5, 'Registration': 2121000001, 'name': 'Adam'}

## Populate an array named **processed** which contains information in the format given below

In [23]:
processed = [
    {'cgpa': 4.0, 'total': 565.5, 'Registration': 2121000001, 'name': 'Adam'},
    {'cgpa': 2.0, 'total': 293.0, 'Registration': 2121000002, 'name': 'Alex'},
    {'cgpa': 3.92, 'total': 499.0, 'Registration': 2121000003, 'name': 'Aaron'}
]

## Use the following 2 cells to show result

In [26]:
processed.sort(key=itemgetter('total'), reverse=True) # sort based on total marks first
processed.sort(key=itemgetter('cgpa'), reverse=True)  # finally sort based on cgpa

In [27]:
rank = pd.DataFrame(processed)
rank[["Registration", "name", "cgpa", 'total']].style.hide_index()